<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1 style="background-color: {{color1}}; color: {{color2}};">Checkerboard</h1>
    <div class="container">
        <table>
            {% for i in range (num2): %}
            <tr>
                {% for j in range (num1): %}
                    {% if (i+j)%2 != 0 %}
                        <td style="background-color: {{color1}};"></td>
                    {% else %}
                        <td style="background-color: {{color2}};"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
        
        
    </body>
</html>